<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<title>welcome to my web</title>
<style>
	body{
	margin:0;
	overflow-x:hidden;
	}
	#top{
	position:fixed;
	top:0px;
	z-index:0;
 width: auto;
 height: auto;
 max-width: 100%;
 max-height: 100%;  
  
}
	#lefticon{
	position:fixed;
	top:70%;
	width:100px;
	height:100px;
	z-index:2;
	}
	#head{
 	clear:both;
	background-color:#3A0088;
	-webkit-box-shadow:0px 10px rgba(20%,20%,40%,0.5);
	position:fixed;
	width:100%;
	height:70px;
	z-index:2;
	}
	.blankspace
	{
	height:120px;
	}
	button{
	color:	#FFFFFF;
	font-size:30px;
	background-color:#3A0088;
	border-style:none;
	font-family:Trebuchet MS;
	}
	button:hover
	{
	color:#FF88C2;
	transition: 0.5s;
	}
	#lefticon:hover{
	position:fixed;
	top:70%;
	width:150px;
	height:150px;
	z-index:2;
	transition:0.5s;
	}
	.block3-1
	{
	top:50px;
	width:80%;
	height:350px;
	position:absolute;
	right:10%;
	background-color:#E8CCFF;
	color:#550088;
	border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	}
	.blockspace
	{
	background: -webkit-linear-gradient(left,#CCBBFF,#9955FF);
	background: -o-linear-gradient(right,#CCBBFF,#9955FF);
	background: -moz-linear-gradient(right,#CCBBFF,#9955FF);
	background: linear-gradient(to right,#CCBBFF,#9955FF);
	z-index:-100;
	width:100%;
	height:80%;
	}
	#block3
	{
	background: -webkit-linear-gradient(left,#CCBBFF,#9955FF);
	background: -o-linear-gradient(right,#CCBBFF,#9955FF);
	background: -moz-linear-gradient(right,#CCBBFF,#9955FF);
	background: linear-gradient(to right,#CCBBFF,#9955FF);
	position:absolute;
	width:100%;
	height:1000px;
	z-index:1;
	}
	.blockimg
	{
	width:50%;
	height:500px;
	}
	#img{
	float:center;
	width:40%;
	height:auto;
	}
	.block3-2-1
	{
	position:relative;
	top:500px;
	left:15%;
	right:15%;
	z-index:1;
	width:50%;
	height:200px;
	background-color:#E8CCFF;
	color:#550088;
	border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	z-index:1;
	}
	.block3-2-2
	{
	position:relative;
	top:500px;
	left:5%;
	width:50%;
	height:auto;
	background-color:#E8CCFF;
	color:#550088;
	border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	z-index:1;
	}
	span
	{
	float:left;
	font-family: Courier New;
	font-size:16px;
	}
	.blockimg
	{
	width:50%;
	height:285px;
	}
	@media screen and (max-width: 2000px) {
		#img{
		float: right;
		width:40%;
		height:auto;
		}		
		.block3-2-1
		{
		position:relative;
		top:100%;
		left:10%;
		width:80%;
		height:auto;
		background-color:#E8CCFF;
		z-index:1;
		}
		.block3-2-2
		{
		position:relative;
		left:25%;
		width:60%;
		height:auto;
		background-color:#E8CCFF;
		z-index:1;
		color:#660077;
		}
		#block3
		{
		background: -webkit-linear-gradient(left,#CCBBFF,#9955FF);
		background: -o-linear-gradient(right,#CCBBFF,#9955FF);
		background: -moz-linear-gradient(right,#CCBBFF,#9955FF);
		background: linear-gradient(to right,#CCBBFF,#9955FF);
		position:absolute;
		width:100%;
		height:auto;
		z-index:1;
		}
 
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    margin-right: 160px;
    margin-left: 160px;
    width: 940px;
}
.footer{
    display: flex;
    width: 100%;
    height: 50%; 
    justify-content: center;
    margin-top: 32%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.footer p{
	background-color: #550088;
	font-family: Arial;
	font-size: 12px;
	width: 100%;
	color: #edf2c5;
	padding-top: 23px;
	padding-bottom: 23px;
	margin-top: -10%;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 50px 50px 0px 0px / 25px 25px 0px 0px;
}
	</style>
</head>
<body>
	<div id="head">
	<center>
	<button id="bt1" onclick="location.href='mystory.htm'" style="position:fixed; right:15%"}>Help</button >
	<button id="bt2" onclick="location.href='ticket.htm'" style="position:fixed; right:35%"}>Tickets</button >
	<button id="bt4" onclick="location.href='holiday.htm'" style="position:fixed; right:55%"}>Holiday</button >
	<button id="bt5" onclick="location.href='news.htm'" style="position:absolute; right:75%"}>Introduction</button>


	</div>
	<img id="top" src="image/3n0v1vat82l01.png"></img>
	<img id="lefticon" onclick="location.href='NEW.htm'" src="image/1106088.gif"></img>
	<div class="blockspace"></div>
	<div id="block3">
		<div class="block3-1" style="height:auto;">
			<img id="img" src="image/jasmine-png-25.png"></img>
			<p style="max-width:80%;"><h1 style="font-family: Courier New; position:right;">&nbsp;&nbsp;Select your type of tickets : </h1>
			<h3 style="font-family: Courier New;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)&nbsp;Multi-day ticket<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)&nbsp;1 day ticket<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)&nbsp;Other option
			</h3>
			<h1 style="font-family: Courier New; position:right;"><br>&nbsp;&nbsp;Select your date of travel : </h1>
			<h3 style="font-family: Courier New;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________<br>
			<br><hr></p>
			<h4 style="font-family: Courier New; position:left;">&nbsp;&nbsp;&nbsp;&nbsp;You can pay by...<br>
			<span>&nbsp;&nbsp;&nbsp;

<img id="img" src="image/payment.png">



		</div>
		<div class="blankspace"></div>
		<div class="blankspace"></div><div class="blankspace"></div><div class="blankspace"></div><div class="blankspace"></div>
		<div class="block3-2-1" style="height:auto; top:0px;">
		<img id="img" style="float:left;" src="image/Aurora-PNG-Transparent.png"></img>
		<p style="max-width:80%;"><span>
		<h1 style="font-family: Courier New; position:right;">Disney Hotel Information&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><hr></h1>
		<h3 style="color:#444444">Why Disney World Hotel is Right for You?</h3><h3>
			&nbsp;&nbsp;<li>Disney's Animal Kingdom Lodge.<br></li>
			&nbsp;&nbsp;<li>Disney's Art of Animation Resort.<br></li>
			&nbsp;&nbsp;<li>Disney's Polynesian Villas & Bungalows.<br></li>
			&nbsp;&nbsp;<li>Disney's All-Star Music Resort.<br></li>
			&nbsp;&nbsp;<li>Disney's Pop Century Resort.<br></li>
			&nbsp;&nbsp;<li>Disney's Grand Floridian Resort & Spa.</li></h3>
		</span></p>
		
		</div>
		<div class="blankspace"></div>
		
		<div class="block3-2-2" style="height:auto; top:-60px;">
		<span>
		<p style="max-width:40%;"><h1 style="font-family: Courier New; position:right;">&nbsp;&nbsp;Hotel & Ticket Deal<hr></h1>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;-Save Up to 20% on Rooms at Select Disney Resort<br>&nbsp;&nbsp;&nbsp;Hotels This Holiday Season<br>
		&nbsp;&nbsp;&nbsp;&nbsp;-Give the Gift of a Magical Stay at Disney Resort <br>&nbsp;&nbsp;&nbsp;Hotel, Save Up to 25% on Rooms in Early 2020<br>
		&nbsp;&nbsp;&nbsp;&nbsp;-Florida Residents ¡V Save Up to 40% on Disney<br>&nbsp;&nbsp;&nbsp;Theme Park Tickets!<br>
		&nbsp;&nbsp;&nbsp;&nbsp;-The Ultimate Disney Christmas Package
		</h3></p>
		</span>
			
		</div>
<img id="img" style="width:25%; height:auto;" src="image/5c798af26426caa42ea1535acc55a5c7-godmother-all.png"></img>

	<div class="footer">
	<p style="font-family: Courier New;>+12 3 45 67 89</p>
        <p style="font-family: Courier New;><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any questions about all available products or offers?<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please call our advisers at: +12 3 45 67 89<br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c Disney ¡E Pixar c & TM Lucasfilm Ltd. c MARVEL. All Rights Reserved</p>
    </div>
</div>



			


</body>	